.flip-book {
  // box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
  margin: 0 auto;
  display: none;
  z-index: 100;
  background-color: none;
}

.html-book {
  background-size: cover;
}

.page {
  padding: 20px;

  background-color: hsl(35, 55, 98);
  color: hsl(35, 35, 35);
  border: solid 1px hsl(35, 20, 70);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);

  overflow: hidden;

  .page-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;

    .page-header {
      height: 30px;
      font-size: 100%;
      text-transform: uppercase;
      text-align: center;
    }

    .page-image {
      height: 100%;
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat;
    }

    .page-text {
      height: 100%;
      flex-grow: 1;
      font-size: 80%;
      text-align: justify;
      margin-top: 10px;
      padding-top: 10px;
      box-sizing: border-box;
      border-top: solid 1px hsl(35, 55, 90);
    }

    .page-footer {
      height: 30px;
      border-top: solid 1px hsl(35, 55, 90);
      font-size: 80%;
      color: hsl(35, 20, 50);
    }
  }

  &.--left {
    border-right: 0;
    box-shadow: inset -7px 0 30px -7px rgba(0, 0, 0, 0.4);
    .page-footer {
      text-align: left;
    }
  }

  &.--right {
    border-left: 0;
    box-shadow: inset 7px 0 30px -7px rgba(0, 0, 0, 0.4);

    .page-footer {
      text-align: right;
    }
  }

  &.hard {
    background-color: hsl(35, 50, 90);
    border: solid 1px hsl(35, 20, 50);
  }

  &.page-cover {
    background-color: hsl(35, 45, 80);
    color: hsl(35, 35, 35);
    border: solid 1px hsl(35, 20, 50);
    box-shadow: none;
    h2 {
      text-align: center;
      padding-top: 50%;
      font-size: 210%;
    }

    &.page-cover-top {
      box-shadow: inset 0px 0 30px 0px rgba(36, 10, 3, 0.5),
        -2px 0 5px 2px rgba(0, 0, 0, 0.4);
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
    }

    &.page-cover-bottom {
      box-shadow: inset 0px 0 30px 0px rgba(36, 10, 3, 0.5),
        10px 0 8px 0px rgba(0, 0, 0, 0.4);
    }
  }
}

.yearbook {
  background-color: #45342a;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.unopenedYearbook {
  position: absolute;
  cursor: pointer;
  height: 12px;
  width: 13px;
  background-color: #45342a;
  transform: rotate(151deg) skew(49deg, 6deg);
  top: 285px;
  left: 160px;
  animation: critical-alarm 1.5s ease-in-out infinite;
  transition: transform 1s ease-in-out, width 1s ease-in-out,
    height 1s ease-in-out, top 1s ease-in-out, left 1s ease-in-out,
    margin-left 1s ease-in-out, margin-right 1s ease-in-out;
}

.openYearbook {
  position: absolute;

  z-index: 199;
  cursor: pointer;
  width: 447px;
  height: 600px;
  background-color: #45342a70;
  transform: rotate(0deg) skew(0deg, -0deg);
  left: 609px;
  top: 95px;
  text-align: center;
  transition: transform 1s ease-in-out, width 1s ease-in-out,
    height 1s ease-in-out, top 1s ease-in-out, left 1s ease-in-out;
}

@keyframes critical-alarm {
  0% {
    box-shadow: 0 0 10px 0px rgba(255, 255, 255, 0.7);
  }
  50% {
    box-shadow: 0 0 10px 8px rgba(255, 255, 255, 0.7);
  }
  100% {
    box-shadow: 0 0 10px 0px rgba(255, 255, 255, 0.7);
  }
}
